{erl_opts, [debug_info]}.
{deps, [
        {sqerl, ".*",
         {git, "https://github.com/chef/sqerl", {branch, "master"}}},
        {epgsql, ".*",
         {git, "https://github.com/chef/epgsql-1", {branch, "mp/add-timeouts-to-connection-activities"}}},
        {sync, ".*",
         {git, "https://github.com/rustyio/sync", {branch, "master"}}}

]}.

